/* VerticalSplitComponent.css */

/* Estilos padrão */
.verticalSplit {
    display: flex;
    width: 100%;
    height: 50vh; /* Ajusta a altura conforme necessário */
    padding-bottom: 10rem;
    overflow: hidden;
  }
  
  .leftColumn {
    flex: 1;
    background-color: #004792;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .leftColumnText {
    margin-bottom: 2.5rem; /* Ajustado para 1.5rem conforme solicitado */
    text-align: justify; /* Justifica o texto */
    margin-right: 25%;
    font-size: 1.6rem;
    color: white;
    font-weight: 100; /* Diminui o peso da fonte */
  }
  
  .button {
    background-color: transparent; /* Remove o fundo */
    font-size: 1.6rem;
    color: #FFFFFF; /* Cor do texto em azul */
    border: 1px solid #FFFFFF; /* Border fino sólido em azul */
    padding: 1rem 4.5rem; /* Ajusta o padding para espaçamento interno */
    cursor: pointer;
    margin-top: 1rem; /* Espaçamento superior para o botão */
    margin-right: 25%; /* Reduzido o espaçamento à direita */
    border-radius: 4px; /* Borda arredondada */
  }
  
  .rightColumn {
    flex: 1;
    position: relative; /* Para posicionamento absoluto da barra azul */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha o conteúdo ao centro */
    justify-content: flex-start;
    padding-top: 1rem; /* Espaçamento superior */
    overflow: hidden; /* Adicionado para evitar overflow */
  }
  
  .topSection {
    width: 100%; /* Largura total da coluna direita */
    margin-bottom: 2.5rem; /* Espaçamento entre as seções */
    text-align: left; /* Alinha o texto à esquerda */
    display: flex; /* Adicionado display flex para colocar os elementos na mesma linha */
    align-items: center; /* Alinha os itens verticalmente */
    padding-left: 1px;
  }
  
  .rightColumnTitle {
    margin-bottom: 0; /* Reduzido o espaço inferior do título para alinhar melhor com a barra azul */
    text-align: left; /* Alinha o texto à esquerda */
    white-space: nowrap; /* Impede que o título quebre em várias linhas */
    margin-right: 20px; /* Espaçamento direito entre o título e a barra azul */
    padding-left: 2rem;
    font-size: 2.5rem;
  }
  
  .blueBar {
    height: 8px;
    width: calc(100% - 20px); /* Barra azul ocupa 100% da largura da coluna direita menos o espaçamento direito do título */
    background-color: #004792;
    margin-top: 10px; /* Espaçamento superior para separar da imagem */
  }
  
  .image {
    width: 100%; /* Ajustado para ocupar toda a largura da coluna */
    max-width: 100%; /* Ajuste adicional para garantir que a imagem não ultrapasse a coluna */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorção */
  }
  
  /* Estilos para telas menores que 1100px */
  @media (max-width: 1000px) {
    .leftColumnText,
    .button {
      font-size: 3vw; /* Ajusta o tamanho da fonte conforme a largura da tela */
    }
  }
  
  /* Estilos para telas menores que 800px */
  @media (max-width: 600px) {
    .verticalSplit {
      flex-direction: column-reverse; /* Inverte a ordem das colunas */
      height: auto; /* Ajusta a altura conforme necessário */
      padding-bottom: 5rem;
    }
  
    .leftColumn,
    .rightColumn {
      flex: none;
      width: 100%;
     
      padding-bottom: 5%;
      align-items: flex-start;
    }
  
    .leftColumnText,
    .button {
      font-size: 6vw; /* Ajusta o tamanho da fonte conforme a largura da tela */
      font-weight: 100;
      width: 80%;
    }
  
    .rightColumnTitle {
      font-size: 8vw; /* Ajusta o tamanho da fonte conforme a largura da tela */
      padding-left: 0;
      margin-right: 10px; /* Ajusta o espaçamento conforme necessário */
    }
  
    .blueBar {
      width: calc(100% - 10px); /* Ajusta a largura conforme necessário */
    }
  
    .image {
      height: auto; /* Ajusta a altura conforme necessário */
    }
  
    .button {
      font-size: 5vw;
      font-weight: 500;
    }
  }
  